**Example-1:**

A principal at a certain school claims that the students in his school are above average intelligence. 
A random sample of thirty students IQ scores have a mean score of 112.5. Is there sufficient evidence to support the principal‚Äôs claim? The mean population IQ is 100 with a standard deviation of 15.

 - We have to do t-test, as samples is meeting the condition of <=30

In [44]:
import numpy as np
import pandas as pd
from scipy import stats

H1 = "all the students in the school have IQ levels of above average ($\mu>100$)"


H0 = "all the students in the school have IQ levels below average ($\mu \leq 100$)"

$t = \frac{\bar{x} - \mu}{\frac{\sigma}{\sqrt(n-1)}}$

In [12]:
n = 30
sample_mean = 112.5
pop_mean = 100
pop_sd = 15
H0 = "all the students in the school have IQ levels below average ( ùúá‚â§100 )"

In [17]:
def t_test(n,pop_mean, pop_sd,sample_mean,H0):
    numerator = sample_mean - pop_mean
    denominator = pop_sd/np.sqrt(n-1)
    t_value = numerator/denominator
    p_value = 1 - stats.t.cdf(t_value,n-1)
    if (p_value) <=0.05:
        return f"Reject H0 : {H0}"
    else:
        return f"Failed to reject :{H0}"

In [18]:
t_test(n,pop_mean,pop_sd,sample_mean,H0)

'Reject H0 : all the students in the school have IQ levels below average ( ùúá‚â§100 )'

**Example-2**

Blood glucose levels for obese patients have a mean of 100 with a standard deviation of 15. 
A researcher thinks that a diet high in raw cornstarch will have a positive or negative effect 
on blood glucose levels. A sample of 30 patients who have tried the raw cornstarch diet have a 
mean glucose level of 140. Test the hypothesis that the raw cornstarch had an effect.

In [20]:
n = 30
sample_mean = 140
pop_mean = 100
pop_sd = 15
H0 = "Raw cornstarch doesn't have  an effect"
H1 = "Raw cornstarch had an effect"

In [25]:
def t2_test(n,pop_mean, pop_sd,sample_mean,H0):
    numerator = sample_mean - pop_mean
    denominator = pop_sd/np.sqrt(n-1)
    t_value = numerator/denominator
    p_value = (1 - stats.t.cdf(t_value,n-1))*2
    if (p_value) <=0.05:
        return f"Reject H0 : {H0}",p_value
    else:
        return f"Failed to reject :{H0}",p_value

In [26]:
t2_test(n,pop_mean,pop_sd,sample_mean,H0)

("Reject H0 : Raw cornstarch doesn't have  an effect", 1.0436096431476471e-14)

## Chi square test

In [27]:
import seaborn as sns

In [29]:
tips = sns.load_dataset("tips")

tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [32]:
ct = pd.crosstab(tips.sex,tips.smoker)
ct

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [45]:
stats.chi2_contingency(ct)

(0.0,
 1.0,
 1,
 array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [46]:
stat,p,dof, expected = stats.chi2_contingency(ct)

alpha = 0.05
print(p)
if(p<=alpha):
    print(" Dependent (Reject H0)")
else:
    print("Independent (Failed to Reject H0)")

1.0
Independent (Failed to Reject H0)